<?xml version="1.0" encoding="UTF-8"?>
<!-- Run: C:/xampp/php/php.exe tools/phpunit.phar  (download it with tools/get-phpunit.sh) -->
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true"
         failOnNotice="true">
    <testsuites>
        <testsuite name="Cloud POS">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
